#esterno {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 0px;
}

nav {
  width: 100%;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#copyright {
  text-align: center;
  margin: 0px;
}
