<div id="aggiungi-task" class="container-fluid">
  <div class="row">
    <div class="col-md-9 mb-3">
      <input [(ngModel)]="nuovoTask" id="nuovoTask" type="text" class="form-control" placeholder="Inserisci un nuovo task">
      <p id="paragrafo-errore" *ngIf="invalido">Inserire un task valido, il nuovo task deve contenere almeno un carattere.</p>
    </div>
    <div class="col-md-3">
      <button (click)="inserisciTask()" class="btn btn-primary">Aggiungi Attività!</button>
    </div>
  </div>
</div>
